.intro-paragraph {
  text-align: left;
  /* Other styles can be added here */
}

.highlight-green {
  color: green;
  font-weight: bold;
}

.highlight-red {
  color: red;
  font-weight: bold;
}

.highlight-blue {
  color: blue;
  font-weight: bold;
}

/*** OVERALL STYLES ****/

body {
  background-color: #22252a;
  color: #ccc;
  font-family: Roboto, sans-serif;
}

/**** HEADER STYLES ****/

header {
  background-image: url("../assets/signhill.png");
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 0;
  color: #cccccc;
}

/*
header .shade {
  background-color: rgba(0, 0, 0, 0.7);
}
*/

header h1 {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #fdbf48;
  font-size: 3rem;
}

.white {
  color: #ffffff;
}

.orange {
  color: #fdbf48;
}

/**** DONUT CHART STYLES ****/
.donut-chart{
  font-family: Roboto, sans-serif;
}

.donut-chart-small {
  /* adjust size here as needed for the small charts. They won't distort and maintain ratio. */
  width: 80px;
  height: 100px;
}

.donut-chart-big{
  width:100%;
  height:150px;
}

.donut-chart-colors text {
  fill: #ccc; /* chart text color */
}

.donut-chart-colors svg > circle {
  stroke: #414a57; /* circle track color */
}

.donut-chart-colors svg g > circle {
  stroke: #f5a261; /* circle glow color */
}

#stats{
  transform:translateY(-50%);
  background-color: rgba(50,50,50,0.9);
  
}

/**** BACKGROUNDS ****/

.orange-background {
  background-image: url("../assets/background-example.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #333; /* darker text color */
}

/* darker buttons on some backgrounds */
.orange-background button.btn {
  border-color: #000;
  color: #000;
}

.orange-background button.btn:hover {
  background-color: #333;
  color: #ccc;
}
