.intro-paragraph {
  text-align: left;
  /* Other styles can be added here */
}

/*** OVERALL STYLES ****/

body {
  background-color: #7084bb;
  color: #ccc;
  font-family: Helvetica, sans-serif;
}

/**** HEADER STYLES ****/

header {
  background-image: url("../assets/signhill.png");
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 0;
  color: #cccccc;
}

/*
header .shade {
  background-color: rgba(0, 0, 0, 0.7);
}
*/

.description {
  font-size: 18px;
}

.text-start d-block {
  color: white; 
}

.year {
  color: #fdbf48;
}

.variable {
  color: #fdbf48;
}

.question {
  font-size: 20px;
  color: #cccccc;
}

.white {
  color: #ffffff;
}

.orange {
  color: #fdbf48;
}

/**** DONUT CHART STYLES ****/
.donut-chart {
  font-family: Roboto, sans-serif;
}

.donut-chart-small {
  /* adjust size here as needed for the small charts. They won't distort and maintain ratio. */
  width: 80px;
  height: 100px;
}

.donut-chart-big {
  width: 100%;
  height: 150px;
}

.donut-chart-colors text {
  fill: #ccc; /* chart text color */
}

.donut-chart-colors svg > circle {
  stroke: #414a57; /* circle track color */
}

.donut-chart-colors svg g > circle {
  stroke: #fdbf48; /* circle glow color */
}

#stats {
  transform: translateY(-50%);
  background-color: rgba(50, 50, 50, 0.9);
}

/**** BACKGROUNDS ****/

/* darker buttons on some backgrounds */
.orange-background button.btn {
  border-color: #ccc;
  color: #ccc;
}

.orange-background button.btn:hover {
  background-color: #ccc;
  color: #ccc;
}

.card-text {
  font-size: 18px;
}

.title {
  color: #fdbf48;
}

